<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索</title>
    <script type="text/javascript" src="../static/jquery1.7.2.js"></script>
    <script type="text/javascript" src="../static/vue.js"></script>
    <script type="text/javascript" src="../static/element.js"></script>
    <link rel="stylesheet" href="../static/element.css"/>
</head>
<body>
<div id="admin">
    <div>
        请输入网址：
        <el-input style="width: 300px" v-model.trim="content"></el-input>&nbsp;&nbsp;
        <el-button type="primary" @click="search">搜索</el-button>
    </div>
    <!--<div v-for="data in msg">-->
    <!--<span>{{data}}</span><br/>-->
    <!--</div>-->
    <template>
        <el-table
                v-loading="loading"
                :data="msg"
                style="width: 100%">
            <el-table-column
                    prop="name"
                    label="当前页面链接">
            </el-table-column>
            <el-table-column label="子集链接" prop="list" :formatter="function(r,c){
                    var str = '';
                    $.each(r.list,function(index,value){
                        str = str+value+'====';
　　                 });
                    return str;
                }">
            </el-table-column>
        </el-table>
    </template>
</div>
</body>

<script>

    new Vue({
        el: "#admin",
        data: {
            content: null,
            msg: [],
            loading: false
        },
        methods: {
            search: function () {
                var self = this;
                if (self.content == '' || self.content == null) {
                    alert("请输入网址");
                    return;
                }
                self.loading = true;
                $.ajax({
                    url: "../../searchPage",
                    type: "POST",
                    data: {"content": self.content},
                    success: function (data) {
                        self.msg = data;
                        self.loading = false;
                    }
                })
            }
        }
    })

</script>


</html>